<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Minhas Informações</ion-card-title>
    </ion-card-header>  
    <ion-card-content>
       Nome:Christian Lucas 
       <br>Matricula: 23202030 <br/>
      <ion-item>
        <ion-img src="assets/icon/foto.jpg" alt="Minha Foto" class="diminuir_imagem"></ion-img>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
